/*media query */

/*se (minha tela for menor ou igual a 990px) então
faça alguma coisa*/

@media(max-width: 990px){
    main #bemVindo{
        display: block;
    }
}
@media(max-width: 693px){
    main #form #form-formulario{
        background-image: none;}
}

@media(max-width: 600px){
    main #beneficios #servico{
        display: block;
    }
}